useDynLib(cosTapered, .registration = TRUE)
export(cos_prepare)
export(cos_default_priors)
export(cos_fit)
export(cos_recover_B)
export(cos_predict_fine)
export(cos_make_areal_blocks)
export(cos_predict_areal)
export(cos_summary_theta)
export(cos_plot_trace)
export(cos_simulate_data)
export(cos_cv_observed)
export(lapMetropBlock)
importFrom(Matrix, sparseMatrix)
importFrom(Matrix, rowSums)
importFrom(stats, ave)
importFrom(stats, rnorm)
importFrom(stats, runif)
importFrom(utils, tail)
S3method(summary, cos_fit)
S3method(print, summary.cos_fit)
S3method(plot, cos_fit)
S3method(print, cos_fit)
S3method(print, cos_priors)
S3method(summary, cos_recovery_B)
S3method(print, summary.cos_recovery_B)
S3method(print, cos_recovery_B)
S3method(summary, cos_prep)
S3method(print, summary.cos_prep)
S3method(print, cos_prep)
S3method(summary, cos_prediction_fine)
S3method(print, summary.cos_prediction_fine)
S3method(print, cos_prediction_fine)
S3method(summary, cos_areal_blocks)
S3method(print, summary.cos_areal_blocks)
S3method(print, cos_areal_blocks)
S3method(summary, cos_prediction_areal)
S3method(print, summary.cos_prediction_areal)
S3method(print, cos_prediction_areal)
S3method(summary, cos_cv_observed)
S3method(print, summary.cos_cv_observed)
S3method(print, cos_cv_observed)
S3method(print, cos_simulation)
